/* You can add global styles to this file, and also import other style files */
/* body h1 p{
    
    font-family: 'Quintessential', cursive;
   
} */

.font-styles{
    font-family: 'Quintessential', cursive;
    text-align: center;
    color: #6253e1; 
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
